@model Hospital_Management.Models.MainModel
@{
    ViewBag.Title = "IPD Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-custom">
    <div class="alert font-size-h3 text-center" style="background-color:#2ac9bb; color:white; font-family: Georgia, serif">
         IPD
    </div>
    @if (ViewBag.status == "pending")
    {

    }

    else
    {
        @*<div class="card-toolbar text-right">
            <a href="/Hospital/AddIPD?Id=@Guid.Empty" class="btn btn-success btn-sm font-weight-bolder mr-2 text-right" style="background-color:#2ac9bb; color:white;">
                <i class="fa fa-plus" style=" color:white;"></i>
                New IPD
            </a>
        </div>*@
    }






    <div class="card-body">
        @if (ViewBag.status == "pending")
        {
            { Html.RenderPartial("~/Views/HospitalPartial/_IPD_Pending.cshtml", @Model); }
        }
        else
        {
            { Html.RenderPartial("~/Views/HospitalPartial/_IPD.cshtml", @Model); }
        }
    </div>

</div>

