@model Hospital_Management.Models.MainModel

@{
    ViewBag.Title = "AddMenuCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #frmCheckPassword {
        border-top: #F0F0F0 2px solid;
        background: #808080;
        padding: 10px;
    }

    .demoInputBox {
        padding: 7px;
        border: #F0F0F0 1px solid;
        border-radius: 4px;
    }

    #password-strength-status {
        /*padding: 5px 10px;*/
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: -19px;
        /*margin-top: 5px;*/
    }

    .medium-password {
        background-color: #b7d60a;
        border: #f1ed70 1px solid;
        /*width: 52%;*/
        font-size: 12px;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
        /*width: 52%;*/
        font-size: 12px;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
        /*width: 52%;*/
        font-size: 12px;
    }
</style>
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">
           Change Password
        </h3>
        <div class="card-toolbar">
            <a href="../Hospital/Index" class="btn btn-light-primary btn-sm font-weight-bolder mr-2">
                <i class="fa fa-reply"></i>
                Back
            </a>
        </div>
    </div>
    <center>
        @if (ViewBag.Msg != "")
        {
            <div class="form-group">
                <div class="col-lg-6">
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button> @ViewBag.Msg
                    </div>
                </div>
            </div>
        }
        <div class="card-body">
            @using (Html.BeginForm("UpdatePassword", "Hospital", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "form_sample_2" }))
        {

        <input type="hidden" id="Id" name="Id" value="@Model.Login.Id" />
        <div class="form-group">
            <div class="col-lg-6">
                <label>EmailId<span style="color:red;">*</span>:</label>
                <input type="email" name="email" id="email" class="form-control" readonly value="@Model.Login.Email" />
            </div>
        </div>
                  <div class="form-group">
            <div class="col-lg-6">
                <label>Old Password<span style="color:red;">*</span>:</label>
                <input type="text" name="password1" id="password1" style="background-color:lightgray;" readonly class="form-control" maxlength="10" value="@ViewBag.OldPassword" />
                <div id="password-strength-status"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <label>New Password<span style="color:red;">*</span>:</label>
                <input type="password" name="password" id="password" class="form-control"   onkeyup="checkPasswordStrength();" />
                <div id="password-strength-status"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <label>Confirm-Password<span style="color:red;">*</span>:</label>
                <input type="password" class="form-control" name="repassword"  id="repassword" required />
                <div id='message' style="margin-top:-19px;"></div>
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="../Hospital/Index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
        }
        </div>
    </center>
</div>
                 
   <script>
    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if ($('#password').val().length < 6) {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('weak-password');
            $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
        } else {
            if ($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('strong-password');
                $('#password-strength-status').html("Strong");
            } else {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('medium-password');
                $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
            }
        }
    }

    $('#password, #repassword').on('keyup', function () {
        if ($('#password').val() == $('#repassword').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>   