<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Infraconstruction & Engineering Pvt. Ltd.</title>
</head>
<body margin="0" bgcolor="white" text="black" link="#1900d2" vlink="#1900d2" alink="red">
    <div style="line-height: 45px; font-weight: bold; color: #3FBEEF; padding-left: 20px;
        font-family: 'Segoe UI'; background-color: #08254d; margin-left: 20px;" valign="middle">
        <a href="http://passinfra.com/" title="Visit passinfra.com/" style="height: 45px;
            font-size: 28px; color: White; padding: 5; text-decoration: none;">PassInfra.com-Property
            Enquiry</a>
    </div>
    <div style="clear: both" />
    <div style="float: left; background-color: #FFFFFF;">
        <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;
            margin-left: 20px;" width="100%">
            <tr>
                <td style="float: left; font-family: verdana; display: inline; color: black; font-size: 12px;
                    padding-left: 0px; text-align: justify;">
                    <br />
                    <br />
                    <b>Hello Sir,</b>
                    <br />
                    <br />
                    <b>Property Enquiry Details Below:</b>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;">
                        <tr>
                            <td>
                                Name:
                            </td>
                            <td>
                                <b>~Name`</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                ~Email`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Contact Number:
                            </td>
                            <td>
                                ~Contact`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Message:
                            </td>
                            <td>
                                ~Message`
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <b> Interested In Home Loan:</b>
                            </td>
                            <td>
                             <b>   ~HomeLoan` </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>Property Details for which Enuiry here.</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Property Name:
                            </td>
                            <td>
                                ~PropertyName`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Property Type:
                            </td>
                            <td>
                                ~PropertyType`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Project:
                            </td>
                            <td>
                                ~Project`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Property Adress:
                            </td>
                            <td>
                                ~Address`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Area (Per Sq.Ft.):
                            </td>
                            <td>
                                ~Area`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Price :
                            </td>
                            <td>
                                ~Price`
                            </td>
                        </tr>
                    </table>
                    <p>
                        Best Regards,<br />
                        The <strong style="color: #3FBEEF;">PassInfra Construction</strong>&nbsp;Team
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="clear: both" />
    <div style="font-weight: normal; color: White; margin-left: 20px; font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; background-color: #08254d; line-height: 25px" align="center">
        <a href="http://passinfra.com/" title="Visit passinfra.com" style="text-decoration: none;
            color: White;">PassInfra.com</a>
    </div>
    <p style="color: Gray; font: 10px Verdana, Arial, Helvetica, Sans-Serif; margin-left: 20px;">
        If this is not the intended recipient please accept our apologies . Thank you.
        <br />
    </p>
</body>
</html>
